

          <div class="neio-ins-fow2">
            <div class="container">
            <h3>{{section.settings.title}}</h3>

            <p>{{section.settings.content}}</p>
            </div>
          </div>




     <div class="cs-form-neion-st">
        <h3>{{section.settings.contact_title}}</h3>
        <p>{{section.settings.contact_subtitle}}</p>
<!--           <div style="margin:0 auto;" class="pxFormGenerator" id="qdoajj6ie0qQs6_dcmtN2A"></div>		 -->
       <script type="text/javascript" src="https://form.jotform.com/jsform/220034319430442"></script>
      </div>



      
      
{% schema %}
  {
    "name": "Want Bring Sec",
    "settings": [
{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
{
      "type": "html",
      "id": "content",
      "label": "Content"
    },
{
      "type": "text",
      "id": "contact_title",
      "label": "Contact Title"
    },
{
      "type": "html",
      "id": "contact_subtitle",
      "label": "Content Subtitle"
    }


    ],
    "presets": [
    {
    "name": "Want Bring Sec",
    "category": "Custom"
    }
    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
