<div class="page-width">
  <article id="{{page.handle}}" class="page hentry">
      <header>
          <div class="title-bar custom-font">
              <h1 class="main-heading">{{ page.title }}</h1>
          </div>
      </header>
      <section class="entry-content">
          <div class="image-section flw-img">
            {% section 'image--image' %}
          </div>
          <div class="cs-text">
            {% section 'text--rich-text' %}
          </div>
          <div class="cs-form">
            <div style="margin:0 auto;" class="pxFormGenerator" id="qdoajj6ie0qQs6_dcmtN2A"></div>		
          </div>
          <div class="image-section flw-img">
            {% section 'image-image2' %}
          </div>
          <div class="cs-text">
            {% section 'text-rich2' %}
          </div>
          <div class="cs-text">
            {% section 'text-rich3' %}
          </div>
      </section>
  </article>
</div>
