<article id="{{page.handle}}" class="page hentry">
	<header>
		<div class="title-bar custom-font">
			<h1 class="main-heading">Upload your design</h1>
		</div>
	</header>
	<section class="entry-content">
		
<!--       <div class="visual-banner-11" style="background:url(https://cdn.shopify.com/s/files/1/0576/3996/0728/files/collection6_3000x.png.jpg?v=1626288052)"></div>
       -->
<!--  add by me       -->
      {%section 'image--image'%}
<!--  add by me       -->
      {%section 'want_bring_sec'%}
      
      {%section 'image--image1'%}

      {%section 'started_section'%}
      {%section 'faq_sec'%}

      
      
<!--       <div class="visual-banner-11" style="background:url(https://cdn.shopify.com/s/files/1/0576/3996/0728/files/brick-walls-neon-light-background-rays-glow-211376300_3000x.jpg?v=1626944057)"></div>
       -->

      
  
   
<div class="">
    {% section 'newsletter--newsletter' %}
</div>     
      
	</section>
</article>
