<section class="new-faq-sec">
    
        <div class="title-bar custom-font">
      <h1 class="main-heading">FAQ</h1>
    </div>

    <div class="accordion_row-main">
      <div class="accordion_col-6-main">
        <div class="accordion_container">
        <div class="accordion_head">How can I design a custom neon? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>We’ve created a simple little design tool that’s ready and waiting to guide you through the process. Go on, you know you want to give it a click!</p>
          </div>

          <div class="accordion_head">What happens if I can’t use the design tool? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>We haven’t found someone yet who struggles with it, but if you want a helping hand, pop us a message.</p>
          </div>

          <div class="accordion_head">What will my sign be made from? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>We use LED Flex that’s free from mercury and toxic gases as standard. Why would you want to put anything else in your home?</p>
          </div>

          <div class="accordion_head">How long will it take to arrive? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>Our standard return is within 3-5 weeks because we want to let the quality speak for itself.</p>
          </div>

          <div class="accordion_head">Do you offer a rush service? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>If you tell us at the checkout, we’ll do our best to cut that down to 2-3 weeks. We know you wouldn’t ask unless you had to!</p>
          </div>

          <div class="accordion_head">How long will my sign last? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>50,000 thousand hours — or 5 years if you love it so much you don’t want to ever switch it off.</p>
          </div> 
        </div>    
      </div>
      <div class="accordion_col-6-main">
              <div class="accordion_container">
          <div class="accordion_head">Is my neon safe around kids and pets? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>It sure is! There’s not a hint of mercury, toxic gas, or any other nasty chemical in anything we put our name on.</p>
          </div> 

          <div class="accordion_head">What makes your neons unique? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>They’re the best! Well, of course we’d say that, but in this case it really is true. They’re crafted with care just for you, and they’re built to the highest standards in the industry.</p>
          </div> 

          <div class="accordion_head">What colours can I have? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>Whatever you want my friend! And if you want something exotic you don’t think we’ll have, pop us a message and we might just surprise you.</p>
          </div>

          <div class="accordion_head">Do you have to be a pro to mount a neon? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>Not at all! Everything is pre-drilled, which means you open the box and it’ll virtually jump out and mount itself.</p>
          </div>

          <div class="accordion_head">Can I add some custom text? <span class="plusminus"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewBox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg></span></div>
          <div class="accordion_body" style="display: none;">
            <p>Our custom design tool is the place to go for that. Just make sure you do a quick spell check before you head to the checkout!</p>
          </div> 
        </div>    
      </div>
    </div>  

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{%section 'newsletter--newsletter'%}
